@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    /* colores */
    .primary {
        @apply text-primary;
    }

    .secondary {
        @apply text-secondary;
    }

    .success {
        @apply text-success;
    }

    .danger {
        @apply text-danger;
    }

    .warning {
        @apply text-warning;
    }

    .text {
        @apply text-text;
    }

    .info {
        @apply text-info;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select[disabled] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:-internal-autofill-selected {
    background-color: #f6eddc !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #f6eddc inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #586875 !important;
}